.widget-view-container {
  position: relative;
}

.widget-view-toolbar {
  position: absolute;
  right: -10px;
  top: -20px;
}

.widget-full-screen .widget-view-toolbar {
  right: 0 !important;
  top: 0 !important;
}


.widget-full-screen .widget-content {
  padding: 20px !important;
}

.widget-title-container {
  height: 30px;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
  margin-top: 0 !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
  margin-top: 0 !important;
}

.advanced-pie-legend .total-label {
  margin-top: 10px;
}
