<ng-template #title>
  {{model.title}}
</ng-template>

<ng-template #content>
  <div class="mt-1">
    <ng-container *ngIf="todoItems.length">
      <mat-list role="list">
        <ng-container *ngFor="let item of todoItems">
          <mat-list-item role="listitem">
            <mat-icon class="cursor-pointer" (click)="done(item)" matListIcon>done</mat-icon>
            {{item}}
          </mat-list-item>
        </ng-container>
        <div class="footer">
          {{todoItems.length}} items left.
        </div>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="!todoItems.length">
      There is no todo item!
    </ng-container>
  </div>
</ng-template>
